* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    width: 100vw;
    height: 65px;
    background-color: #212731;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    color: #D1D6DA;

}

ul li {
    list-style: none;
}

.search-box {
    width: 258px;
    height: 37px;
    position: relative;
    margin: 0 30px;
}

.search-box input {
    width: 258px;
    height: 37px;
    border-radius: 8px;
    border: 1px solid #E1E4E6;
    text-align: right;
    border: none;
    padding-right: 10px;
    font-size: 20px;
}

.search-box button {
    position: absolute;
    left: 0;
    height: 37px;
    width: 37px;
    background-color: transparent;
    border: none;

}

.search-box button svg {
    height: 24px;
    width: 24px;
}


header {
    width: 1024px;
    padding-top: 20px;
    color: #4B5665;
    font-size: 14px;

}

header h1 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 400;
    padding: 10px 0;
}

.update-info {
    border: 2px solid #E1E4E6;
    padding: 10px 0;
    border-left: none;
    border-right: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    column-gap: 20px;
    position: relative;
}

.text-icon,
.icon-text {
    display: flex;
    gap: 8px;
}

.icon {
    top: 10px
}

#right0 {
    position: absolute;
    right: 0;
}

#quick-links,
.dir-links {
    display: flex;
    column-gap: 40px;
    padding: 10px 0;
    margin: 10px 0;
}

.dir-links {
    column-gap: 20px !important;

}

.dir-links img {
    display: flex;
    position: relative;
    top: 5px !important;
    height: 8px;
    width: 10px;
}


main {
    width: 1024px;
    padding-top: 20px;
    color: #4B5665;
    font-size: 14px;

}

.plan {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 20px 0;
    padding: 20px;
    height: fit-content;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    /* height: 255px; */
    color: #626E79;
}

.index {
    position: absolute;
    display: inline-block;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 3px;
    left: 7px;
    text-align: center;
    border: 1.5px solid #E1E4E6;
    color: #626E79;
    padding: 7px;
    font-weight: 400;
}

.image-container img {
    width: 140px;
    height: 100px;
    margin-bottom: 25px;
}

.plan-about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: #4B5665;
    font-size: 16px;
    line-height: 24px;
}

.main-highlight h4 {
    color: #2C384A;
}

.main-highlight .main-highlight-text {
    margin-top: 10px;
    margin-left: 20px;
}

.show-more {
    align-self: flex-start;
    color: #1B88F4;
}

.show-more svg {
    position: relative;
    bottom: -3px;
    right: -7px;
}

.review-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /* height: 255px; */
}

.rating-section {
    width: 135px;
    height: 118px;
    background-color: #F3F9FF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
}

.rating {
    font-size: 32px;
    line-height: 48px;
    font-weight: 400;
}

.rating svg {
    background-color: #FFB80F;
    color: #FFB80F;
}

.btn {
    background-color: #1B88F4;
    color: white;
    border: none;
    height: 48px;
    border-radius: 12px;
}

.highlight-keys {
    width: 500px;
    height: 120px;
    background-color: #FFF4ED;
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
}

.highlight-keys .key-rating {
    color: #1B88F4;
    background-color: white;
    padding: 3px;
    margin-right: 6px;
}

.highlight-keys .keys {
    color: #4B5665;
}

.key-values {
    margin: 10px;
}

.related-deals h2 {
    font-size: 32px;
    font-weight: 400;
    padding: 20px 0;
}

.related-deals-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.related-plans {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 12px;
    width: 292px;
    margin-bottom: 50px;
}


.image-container2 img {
    width: 141px;
    height: 103px;
    margin: 15px;
    align-self: center;
}

.offer-valid,
.discount-percent {
    box-sizing: content-box;
    padding: 3px;
    color: #074786;
    background-color: #F2F4F7;
    border-radius: 8px;
    margin: 5px;
    font-size: 14px;
}

.discount,
.plan-details,
.pricing {
    align-self: flex-start;
    font-size: 16px;
    color: #626E79
}

.plan-name {
    color: #626E79;
}

.price {
    font-size: 20px;
    margin-right: 10px;
}

.before-price {
    color: #9FA9B3;
    font-size: 13px;
}

.discount-percent-red {
    color: red;
    margin-left: 5px;
}

.mailSubscription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.mailSubscription h2 {
    width: 400px;
    color: #5C6874;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
}

.mailSubscription button {
    border-radius: 0 8px 8px 0;
    height: 45px;
}

.mailSubscription input {
    height: 45px;
    border: 2px solid #E1E4E6;
    border-right: none;
    width: 270px;
}

.categories>div,
.contact>div {
    color: white;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #212731;
    color: #B6BDC4;
    width: 100vw;
    padding-top: 150px;
    height: 450px;
}

footer li {
    margin: 20px 0;
}